* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #777;
    font-size: 10px;
    margin: 0 auto;
    padding:0;
}

header {
    height: 70vh;
    display: flex;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 5.5em;
    text-transform: uppercase;
    color: #007bff;
    margin:auto;
}

section {
    padding: 9em 0px;
    text-align: center;
}

hr {
    background-color: #007bff;
    border:0;
    height: 1px;
    width: 7em;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.language {
    font-size: 18px;
    color:#333;
    justify-content: center;
    align-items: center;
    display: flex;
}

span:nth-child(2n) {
    color: #007bff;
    padding: 5px;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #007bff;
    margin: auto;
    padding: 1.5em 2em;
    display: inline-block;
    transition: all 1s;
    font-size: 1em;
    color:#333;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    background-color: #007bff;
    color: #f2f1ed;
}

nav {
    background-color: #007bff;
    height: 4em;
    width: 100%;
    left:0;
    top:0;
    position: relative;
    z-index: -1;
}

.menu {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
}

.menu-item, a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
    color: #333;
    margin:auto;
    text-align: center;
}

.aboutme p {
    font-size: 1.5em;
    line-height: 1.2;
}

[title='myphoto'] {
    max-height: 35em;
    max-width: 35em;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    align-content: center;
    padding: 2em;
}

.portfolio {
    background-color: #f2f1ed;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    padding: 3em;
}

.photo {
    height: 100px;
    width: 100px;
    position: relative;
    margin: auto;
}


