form {
    background-color: midnightblue; 
    padding: 10px;
    color: white;
    width: 600px;
}

form input, form select {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

/* pola aktywne w formularzu */

form select:focus, form input:focus, form textarea:focus {
    background-color: blanchedalmond;
    border: 1px solid white; 
    outline: none  
}

form input[type='checkbox'] {
    float: left;
}

form input[type='submit'] {
    background-color: bisque;
    border: none;
    color: black;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 800;
    cursor: pointer;
}