* {
    box-sizing: border-box;
}

body {
	margin: 0;
	background-image: url(../img/man-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
	font-size: 10px;
}

.container {
	height: 100vh;
	align-items: center;
	justify-content: center;
	position:relative;
}

h1, h2 {
	display: inline-block;
	text-align: left;
	vertical-align: center;
	position:absolute;
	left: 0em;
	right:0em;
	top:50%;
	margin-bottom:20px;
	text-transform: uppercase; 
	padding: 7em 0em;
}

h1 {
	font-size: 4em;
	margin: 3em;
}

h2 {
	font-size: 3em;
	margin: 4em;
}

@media (min-width:1170px) {
	.container {
		height: 80%;
	}
}


@media (min-width: 992px) and (max-width:1169px) {
	body {
		background-image: url(../img/man-2.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	h1, h2 {
		display: inline-block;
		text-align: right;
		vertical-align: center;
		position:absolute;
		left: 0em;
		right:0em;
		top:5%;
		text-transform: uppercase; 
		padding: 7em 0em;
	}
}

@media (max-width:991px) {
	.container {
		display: inline-block;
		background-color: white;
		color: black;
		justify-content: center;
		text-align: center;
		vertical-align: bottom;
		position:absolute;
		left: 0em;
		right:0em;
		top: 0%;
		text-transform: uppercase; 
		font-size: 0.75em;
		padding:0;
		margin:auto;
	}
}
