* {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 10px;
}

.face {
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-image: url(../img/man-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin:0;
}

h1, h2 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	display: block;
	text-transform: uppercase; 
	margin: 0 50px;
	text-align: left;
}

h1 {
	font-size: 4em;
	padding-top: 1em;
}

h2 {
	font-size: 3em;
	padding-top:11em;
}


@media (min-width: 992px) and (max-width:1169px) {
	.face {
		background-image: url(../img/man-2.jpg);
		height: 70vh;
	}
	h1, h2 {
		display: block;
		text-align: right;
	}
	h1 {
		font-size: 3em;
		padding-top: 1em;
	}
	h2{
		padding-top: 3em;
		padding-right: 5.25em;
	}
}

@media (max-width:991px) {
	.face {
		height: 50vh;
	}

	h1, h2 {
		color: black;
		text-align: center;
	}
	h2 {
		padding-top: 12.5em;
	}
	h1 {
		padding-top:0.5em;
	}
}
