body {
    max-width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: white;
	margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
}

.container {
    display: flex;
}

header {
    background-color: red;
    padding: 0.5em;
}

.container-left {
    background-color: green;
    flex-basis: 25%;
}

.container-center {
    background-color: skyblue;
    flex-basis: 50%;
}

.container-right {
    background-color: pink;
    flex-basis: 25%;
}

footer {
    background-color: blueviolet;
    padding: 0.5em;
}


@media (min-width: 768px) and (max-width:991px) {
    .container {
        flex-wrap: wrap-reverse;
    }
    .container-center {
        flex-basis: 75%;
    }
    .container-right {
        flex-basis: 25%;
    }
    .container-left {
        flex-basis: 100%;
    }
}

@media (max-width:767px) {
    .container {
        flex-wrap: wrap;
    }
    .container-center {
        flex-basis: 100%;
    }
    .container-right {
        flex-basis: 100%;
    }
    .container-left {
        flex-basis: 100%;
    }
}